/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body{
  background-color: lightblue;
}

h1 {
  line-height: 100%;
  font-variant: small-caps;
  font-family: Georgia;
  font-size:300%;
  color:rgb(255,255,0);
  background-color:rgb(28,68,133);
  text-align: left;
  border: solid 1px #080808;
  border-radius: 10px;
  padding-left: 20px;
  padding-top : 5px;
  padding-bottom: 5px;
  margin-left:5px;
  margin-bottom: 15px;

}

h2{
  line-height: 100%;
  font-variant: small-caps;
  font-family: Georgia, Arial, "Times New Roman";
  font-size:200%;
  color:rgb(255,255,0);
  background-color:rgba(0,0,255,.5);
  text-align: left;
  padding: 5px;
}

section {
  display:inline-block;
  height: 130px;
  width:99%;
  margin: 20px 10px;
  border-radius: 10px;
  background-color:rgb(51, 153, 102);
  border: solid 1px #080808;

  
}

nav {
  line-height: 150%;
  background-color:rgb(51, 153, 102);
  text-align: left;
  font-variant: small-caps;
  font-family: Georgia;
  font-size:125%;
  border: solid 1px #080808;
  margin: 20px 10px;
  border-radius: 10px;
}



li {
  font-variant: small-caps;
  font-family: Georgia, Arial, "Times New Roman";
  font-size:115%;
  color: rgb(255,255,255);
}

label {
  font-variant: small-caps;
  font-family: Georgia, Arial, "Times New Roman";
  font-size:115%;
  color: rgb(255,255,255);

}

summary {
  font-variant: small-caps;
  font-family: Georgia, Arial, "Times New Roman";
  font-size:115%;
  color: rgb(255,255,255);
  padding: 20px 10px;
}

p {
  font-variant: small-caps;
  font-family: Georgia, Arial, "Times New Roman";
  font-size:115%;
  color: rgb(255,255,255);
  font-style: italic;
}

footer {
  display: inline-block;
  margin: 30px 10px;
  background-color:rgb(51, 153, 102);
  border: solid 1px #080808;
  padding: 10px;
  border-radius: 10px;
}

#footertext {
  
  font-family: Arial, Georgia, "Times New Roman";
  font-size:100%;
  color: rgb(0,0,0);
}

ul {
  padding-left: 10px;
  padding-top:10px;
}

div {
  padding: 20px 10px;
}

a {
  display:inline-block;
  
  color: rgb(255,255,0);
  background-color: rgba(0,0,255,.5);
  text-decoration: none;
  padding: 5px;
  margin:5px;
  border: solid 1px rgb(0,0,0);
  border-radius: 15px; 
}

img {

  width: 150px;
}

a:focus {
  background: #b3b3b3;
  color: #0006cc;

}